.btn-input{
    width: 300px;
    height: 20px;
    display: block;
    margin: 20px auto;
    padding: 5px;
   
}
.image-demo{
    height: 100px;
    width: 170px;
    object-fit: cover;
    display: block;
    margin: 0px auto;


}
.container-form{
    display: block;
    margin: 0px auto;
 

}
.add-heading{
    text-align: center;
    color: tomato;
}

.btn-addplant{
    display: block;
    margin: 10px auto;
    background-color: #ffb84d;
    color: white;
    padding: 5px 50px;
    border: 2px solid  #ffb84d ;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;

}
.link-tag{
    text-align: center;
}
.form-head{
    border: 2px solid black;
}